/* Tyrkys: #02858F */
/* Zelená: #84CE2B */
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
    background: #02858F;
    color: white;

}

.topbar {
    width: 100%;
    height: 30px;
    position: fixed;
}

html:not([data-scroll='0']) .topbar-margin {
    background: white;
    transition: 0.3s;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

}

html:not([data-scroll='0']) .topbar-margin a:not(.client-zone) {
    color: black;
}


.topbar-margin {
    margin: 15px;

    padding: 0 30px;
    border-radius: 5px;
    color: white;

    display: flex;
    justify-content: space-between;
}

.topbar-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.topbar-title a {
    font-size: xx-large;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.topbar-title a:hover {
    color: #4d4d4d !important;
}


.menu {
    padding: 15px;
    border-radius: 5px;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.menu-item {
    height: 30px;
    margin: 0 5px;
    padding: 10px 25px;
    border-radius: 5px;

    font-size: 18px;
    color: white;
    text-decoration: none;

    display: flex;
    align-items: center;
}

a.menu-item:not(.client-zone):hover {
    color: #02858F !important;
    transition: .3s;
}

a.menu-item.no-hover:hover {
    background: transparent;
}

.client-zone {
    background: #02858F;
}

.client-zone:hover {
    background: #02707a;
}

.client-zone:active {
    background: #02636c;
}

.flag {
    border-radius: 5px;
    height: 34px;
    border: solid 1px lightgrey;
}

.flag:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.hero {
    height: 600px;
    display: flex;
    align-items: center;
    background-image: url("img/wheat.jpg");
    background-repeat: no-repeat;
    background-position: 40% 10%;
    background-size: cover;
}

.logo {
    font-size: 50px;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 30px;
    color: white;
}

.technology {

}

.section {
    padding: 50px;
    margin-bottom: 70px;
}

.section-heading {
    font-size: 3rem;
    margin: 0;
    padding: 30px 0;
}

.tiles {
    display: flex;
    flex-wrap: wrap;
}

.tile {
    margin: 50px 400px;
    background: white;
    color: black;
    display: flex;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.tile:nth-child(odd) {
    margin-left: 50px;
}

.tile:nth-child(odd) img {
    order: -1;
    border-radius: 20px 0 0 20px;
}

.tile:nth-child(even) {
    margin-right: 50px;
}

.tile > img:first-child {
    border-radius: 20px 0 0 20px;
}

.tile > *:last-child {
    border-radius: 0 20px 20px 0;
}

.tile > * {

}

.tile img {
    flex-basis: 50%;
    width: 50%;
}

.tile-heading {
    color: black;
    font-size: 40px;
    margin: 0 0 20px;
}

.tile-text {
    color: #626262;
    flex-basis: 50%;
    padding: 50px;
    font-size: 24px;
}

.section--inverted {
    background: white;
    color: black;
    margin: 0;
}

.section-body {
    margin: 50px;
    display: flex;
    flex-basis: 100%;
}

.section-body > * {
    padding: 0 50px;
}

/* About us */

.about-us {
    display: flex;
    flex-wrap: wrap;
}

.about-us .section-heading {
    flex-basis: 100%;
}

.about-us .section-text {
    flex-basis: 50%;
    padding: 0 50px;
    box-sizing: border-box;
    font-size: 40px;
}

.about-us .imsol-logo {
    width: 50%;
}

/* Contact */

.contact .section-body {
    align-items: center;
}

.contact .divider {
    padding: 0;
    width: 2px;
    height: 300px;
    margin-bottom: 50px;
    border-radius: 5px;
    background: grey;
}

.contact {
    display: flex;
    flex-wrap: wrap;
}

.contact .section-heading {
    flex-basis: 100%;
}

.contact-form {
    flex-basis: 50%;
}

.contact form {
    display: flex;
    flex-direction: column;
}

.contact form * {
    margin: 10px;
}

.contact form label {
    margin: 20px 0 -5px 10px;
    color: grey;
}

.contact form *:focus {
    outline: none;
    background: #d7d7d7;
}

.contact form input {
    width: 60%;
    border: none;
    background: #ececec;
    padding: 10px;
    border-radius: 5px;
}

.contact form input[type="submit"] {
    width: 200px;
    min-width: 30px;
    padding: 15px;
    font-size: 16px;
}

.contact form input[type="submit"]:hover {
    background: #e2e2e2;
}

.contact form input[type="submit"]:active {
    background: #bebebe;
}

.contact form textarea {
    resize: none;
    width: 80%;
    border: none;
    background: #ececec;
    padding: 10px;
    border-radius: 5px;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacts a {
    text-decoration: none;
    font-size: 30px;
    color: darkslategrey;
    margin-bottom: 50px;
}

.contact a:active {
    color: #000000;
}

/* Utilities */

.shadow {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06) !important;
}

.shadow-md {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06) !important;
}

.shadow-lg {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
